MYSQL_DATABASE=snowman
MYSQL_USER=snowman
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
SNOWMAN_JDBC_URL=jdbc:mysql://mysql:3306/snowman?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SNOWMAN_JMS_BROKER_URL=tcp://activemq:61616
